#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: alexanderherbas # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDEN03EZPo/EVj0NNwkSh7dOUyijSkHAEGVM3zOlV+FdKFGpiN6c3+taJDgEYZtzdyD7MDQGlFwNmcJ4cQihMroC37hVuPohjYOi0KYSHUncECiz0/iiXLaDcVJRJSXxp40FB1XifLXsPHDrwX3O2cmi1nGJhzS5j21CysmFHoVGS+oTBpLDuiDRe0Rx7vRKGwjQq3s0TGvruOFL8q2y5XIJt/I6KNscP9MCLUA3oYy5YK8RoH3jdEqhxwpLtS7NjXHi/tahklfvBJs66YPYUefIswB+LSNdmv1S+41Ie7w7UCncOZLLFovyvg1Vuh9zgmocBDW5nOrmNisvAgV2P6Z alexanderherbas@usrv
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
